spring:
  datasource:
    url: jdbc:mysql://localhost:3306/treex
    username: treex
    password: treexpassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-request-size: 10GB
      max-file-size: 50MB
  redis:
    host: 127.0.0.1
    port: 6379
server:
  port: 443
  http2:
    enabled: true
  ssl:
    key-store: classpath:keystore.p12
    key-store-type: PKCS12
    key-alias: KEY ALIAS
    key-store-password: YOUR PASSWORD
  undertow:
    io-threads: 4
    worker-threads: 20
    buffer-size: 1024
    direct-buffers: true