spring:
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/treex
      username: treex
      password: treexpassword
      driver-class-name: com.mysql.cj.jdbc.Driver
      initial-size: 1
      min-idle: 4
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 30000
      test-while-idle: true
      test-on-borrow: true
      test-on-return: true
      validation-query: select 'x'
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      filters: stat,wall,slf4j
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      use-global-data-source-stat: true
      stat-view-servlet:
        enabled: true
  servlet:
    multipart:
      max-request-size: 10GB
      max-file-size: 50MB
  redis:
    host: 127.0.0.1
    port: 6379
server:
  port: 443
  http2:
    enabled: true
  ssl:
    key-store: classpath:keystore.p12
    key-store-type: PKCS12
    key-alias: KEY ALIAS
    key-store-password: YOUR PASSWORD
  undertow:
    io-threads: 4
    worker-threads: 20
    buffer-size: 1024
    direct-buffers: true